input[type="number"].input-number-no-arrows {
    -moz-appearance: textfield;
}

input[type=number].input-number-no-arrows::-webkit-inner-spin-button,
input[type=number].input-number-no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}