<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запись в базу</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- подключаем библиотекку -->
</head>
<body>
[!наш_сниппет!]//сюда вставляем наш снипед
<script type="text/javascript">
    $(document).ready(function() { //как только страница загрузиться, атоматически перезагружаеться
        location.reload();    //JavaScript функция перегрузки страницы
    });
</script>
</body>
</html>